.page-header-image{
    background-image: url('../../../../public/assets/img/bg17.jpg');
    min-height: 60vh;
    max-height: 440px;  
}

.page-header .content-center {

    position: static;
    transform: none;
    -webkit-transform: none;
}


.lsting-navbar{

    position: fixed !important;
    background-color: #f96332 !important;

}
.carosel_for_listing{
    
}